astroid==2.3.3
autopep8==1.4.4
blessings==1.7
bpython==0.18
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
curtsies==0.3.1
Flask==1.1.1
Flask-Misaka==1.0.0
flask-shell-bpython==1.0.2
greenlet==0.4.15
idna==2.8
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
misaka==2.1.1
pkg-resources==0.0.0
pony==0.7.11
pycodestyle==2.5.0
pycparser==2.19
Pygments==2.5.2
pylint==2.4.4
python-dotenv==0.10.3
requests==2.22.0
six==1.13.0
typed-ast==1.4.0
urllib3==1.25.8
wcwidth==0.1.8
Werkzeug==0.16.0
wrapt==1.11.2
